antlr4-python3-runtime==4.9.2
argcomplete==3.5.3
charset-normalizer==3.4.1
colorama==0.4.6
commitizen==4.6.0
decli==0.6.2
Jinja2==3.1.6
MarkupSafe==3.0.2
packaging==24.2
prompt_toolkit==3.0.50
PyYAML==6.0.2
questionary==2.1.0
termcolor==2.5.0
tomlkit==0.13.2
wcwidth==0.2.13
